<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

    <section class="container">
        <div class="left-half">
            <canvas id="game-canvas" width="700px" height="700px">
                Sorry, your browser doesn't support canvas technology.
            </canvas>
            <script>
                $.ajax({
                    url: "http://localhost:51994/game/board",
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        
                        var canvas = document.getElementById("game-canvas");
                        var context = canvas.getContext("2d");

                        var boardSize = data.length;
                        var border = canvas.width / 6;
                        var boardWidth = canvas.width - (border * 2);
                        var boardHeight = canvas.height - (border * 2);

                        var cellWidth = boardWidth / (boardSize);
                        var cellHeight = boardHeight / (boardSize);

                        var backgroundColor = '#F5DEB3';
                        //var gridColor = '#060099';
                        //var gridColor2 = '#ffd800';
                        //var gridColor3 = '#ff0000';
                        context.fillStyle = backgroundColor;
                        context.fillRect(0, 0, canvas.width, canvas.height);

                        

                        for (var i = 0; i < boardSize; i++) //Draws the board
                        {
                            for (var j = 0; j < boardSize; j++) {
                                
                                switch (data[i][j].QuestionTopic) {
                                    case 0:
                                        context.fillStyle = '#4d1f00';
                                        break;
                                    case 1:
                                        context.fillStyle = '#e65c00';
                                        break;
                                    case 2:
                                        context.fillStyle = '#ffc299';
                                        break;
                                }
                                context.fillRect(i * cellWidth + border, j * cellHeight + border, cellWidth - 1, cellHeight - 1);


                                if (data[i][j].HasPlayers) {
                                    switch (data[i][j].PlayerNames.length) {
                                        case 1:
                                            context.fillStyle = "#ffd800";
                                            context.beginPath();
                                            context.arc(i * cellWidth + border + cellWidth / 2 - 20, j * cellHeight + border + cellHeight / 2 + 20, 10, 0, 2 * Math.PI);
                                            context.fill();
                                            break;
                                        case 2:
                                            context.fillStyle = "#ffd800";
                                            context.beginPath();
                                            context.arc(i * cellWidth + border + cellWidth / 2 - 20, j * cellHeight + border + cellHeight / 2 + 20, 10, 0, 2 * Math.PI);
                                            context.fill();

                                            context.fillStyle = "#ff0000";
                                            context.beginPath();
                                            context.arc(i * cellWidth + border + cellWidth / 2 + 20, j * cellHeight + border + cellHeight / 2 - 20, 10, 0, 2 * Math.PI);
                                            context.fill();
                                            break;
                                        case 3:
                                            context.fillStyle = "#ff0000";
                                            context.beginPath();
                                            context.arc(i * cellWidth + border + cellWidth / 2 - 20, j * cellHeight + border + cellHeight / 2 + 20, 10, 0, 2 * Math.PI);
                                            context.fill();

                                            context.fillStyle = "#ffd800";
                                            context.beginPath();
                                            context.arc(i * cellWidth + border + cellWidth / 2 + 20, j * cellHeight + border + cellHeight / 2 - 20, 10, 0, 2 * Math.PI);
                                            context.fill();

                                            context.fillStyle = "#0026ff";
                                            context.beginPath();
                                            context.arc(i * cellWidth + border + cellWidth / 2 - 20, j * cellHeight + border + cellHeight / 2 - 20, 10, 0, 2 * Math.PI);
                                            context.fill();
                                            break;
                                    }

                                }
                            }
                        }

                        var size = canvas.width / 40;
                        var textSpacing = 40;
                        context.fillStyle = '#000000';
                        context.font = size + "px Arial";

                        //draw the numbers and letters
                        for (i = 0; i < boardSize; i++) {
                            context.fillText((i + 1), textSpacing, ((canvas.height - border - cellHeight / 2) - (i * cellHeight)) + (size / 3));
                            context.fillText((i + 1), (border + cellWidth / 2 + (i * cellHeight) + (size / 3)) - (size / 1.5), canvas.height - (textSpacing * 2));
                        }

                    },
                    error: function (request, error) {
                        alert("Request: " + JSON.stringify(request));
                    }
                });
                

            </script>
        </div>
        <div class="right-half">
            <div class="dices" id="dices">
                <script>
                    //preload the six images first
                    var face0 = new Image()
                    face0.src = "/images/d1.gif"
                    var face1 = new Image()
                    face1.src = "/images/d2.gif"
                    var face2 = new Image()
                    face2.src = "/images/d3.gif"
                    var face3 = new Image()
                    face3.src = "/images/d4.gif"
                    var face4 = new Image()
                    face4.src = "/images/d5.gif"
                    var face5 = new Image()
                    face5.src = "/images/d6.gif"
                </script>


                <img src="/images/d1.gif" name="mydice">
                <form>
                    <input type="button" value="Throw dice!" onClick="throwdice()">
                </form>

                <script>
                    function throwdice() {
                        //create a random integer between 0 and 5
                        var randomdice = Math.round(Math.random() * 5);
                        document.images["mydice"].src = eval("face" + randomdice + ".src");
                        
                        $.ajax({
                            url: "http://localhost:51994/game/question?dicevalue=" + randomdice,
                            type: 'GET',
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                switch (data.QuestionType) {
                                    case 0://multiple image
                                        document.getElementById("question1").hidden = false;
                                        document.getElementById("question1Lable").innerHTML = data.Statement;
                                        document.getElementById("question1image").src = data.AnswerOptions[0].Option;
                                        
                                        break;
                                    case 1://single image
                                        document.getElementById("question2").hidden = false;
                                        document.getElementById("question2Lable").innerHTML = data.Statement;
                                        document.getElementById("question2image").src = data.AnswerOptions;
                                        break;
                                    case 2:
                                        break;
                                }
                            },
                            error: function (msg) { alert(msg); }
                        });
                    }
                </script>
               

            </div>
            <div class="questions" id="question">
                
                <div id="question1" hidden>
                    <label id="question1Lable" for="other"></label>
                    <br>
                    <img id="question1image" src="" />
                    <br>
                    <button onclick="submitQuestionAnswer();" style="width:auto;">Submit</button>
                </div>
                <div id="question2" hidden>
                    <label id="question2Lable" for="other"></label>
                    <br />
                    

                    <button onclick="submitQuestionAnswer();" style="width:auto;">Submit</button>
                </div>

                <script>
                    function submitQuestionAnswer() {
                        var answer = document.getElementById("answer").nodeValue;
                        $.ajax({
                            url: "http://localhost:51994/game/question?answervalue=" + answer,
                            type: 'GET',
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {

                            },
                            error: function (msg) { alert(msg); }
                        });
                    }
                </script>

            </div>
            <div class="score" id="score">

            </div>
        </div>
    </section>

</body>
</html>
